JIRA_BASE_URL=https://trs-projects.atlassian.net/
JIRA_EMAIL=
JIRA_API_TOKEN=


TS_NAME=IT Developer
TS_DEPARTMENT=IT Developer
TS_PROJECT=TRS(PT.Tiga Raksa Satria),Clien Side
TS_COMPANY=PT. Indocyber Global Teknologi
TS_COMPANY_LINES=Komplek Pertokoan Aldiron Hero Blok C No 10|Jl. Daan Mogot Kav. 119, Jakarta Barat 11460|Telp. (+62-21) 566 3705, Fax. (+62-21) 566 3704

TS_ASSETS=assets

ZOOM_URL=

WEB_USER=admin
WEB_PASSWORD=
